*{
	margin:0;
	padding:0;
}
 
body {
	font-family: 'Roboto', sans-serif;
}
#header-box{
	position: fixed;
	width: 100%;
}

#header{
	background-color: black;
	display: flex;
	justify-content:space-between; 
	padding: 0 100px;
}
#login-container{
display: flex;
padding:9px 9px;
}

#firstword{
	color: grey;
	font-size: 21px;
	padding-top: 13px;
}
#firstword:hover{
	color: white;
	cursor: pointer;
	transition: 1s;
}
#login1a {
	border-radius:6px;
	padding:8px 9px;
	width:170px;
	margin-right: 5px;
	border-color: white;
}
#login1b {
	padding:9px 9px;
    border-radius:6px;
	width:170px;
	margin-right:7px;
	color: #f1f1f1;
}
#login2{
	display: flex;
	background-color: green;
	border-radius: 6px;
	border-color: green;
	color: white;
	padding:3px 5px;
	width:70px;
	font-size: 17px;

}
#first-body{
	background-color:#f1f1f1;
}
#body-container{
		padding:60px 100px;
		line-height:1.5;
}
#Statement{
    font-size: 60px;
	padding-top: 30px;
	font-weight: normal;
}
#Statement2{
	font-size: 20px;
}
#button{
	color: white;
	background-color: #204d74;
	border-color:#122b40;
	width:140px;
	border-radius: 6px;
	padding: 10px 11px;
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}
#second-body{
	display: flex;
	padding:50px 100px 0px;
    color: grey;
}
.headings{
	color:black;
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 10px;
}
.contents{
	line-height: 1.3;
	color: black;
	font-size: 14px;
	padding-right: 10px;
}
.button2{
	background-color: white;
	border-radius: 6px;
	color: grey;
	width: 120px;
	padding: 10px 8px;
	margin-top: 10px;
	font-weight: lighter;
}
 #horizontal-line{
  	margin-top: 30px;
	 margin-bottom: 20px;
	 border-color: #ccc;
 }
 #third-body{
	 padding:0 100px 40px;
 }


 @media only screen and ( max-width: 700px){
	#header{
		background-color: black;
		display: flex;
		justify-content:space-between;
		padding: 0 15px;
}
	#icon {
		font-size: 25px;
		color: white;
		padding-top: 15px;
		padding-bottom: 15px;
		cursor: pointer;
	}
	#login-container{
		display: none;
	}
	#second-body{
	display: flex;
	flex-direction:column;
	color: grey;
	}
	#body-container{
		padding:10px 15px;
		line-height:1.5;
	}
  	#firstword{
		color: grey;
		font-size: 21px;
		padding-top: 15px;
		padding-bottom: 15px;
   }
	#Statement{
		font-size: 35px;
		padding-bottom: 5px;
		padding-top: 90px;
    }
	 #button{
		 color: white;
		 border-radius: 8px;
		 padding: 10px 10px;
		 margin-bottom: 70px;
		 font-size: 18px;
	 }
	 #Statement2{
		 font-size: 20px;
	 }
    #second-body{
		display: flex;
		margin-top: 20px;
		color: grey;
		padding: 30px 15px 0;
	}
	.headings{
		color:black;
	}
 	.button2{
		background-color: white;
		border-radius: 4px;
		color: black;
		padding: 7px 7px;
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 15px;
		font-weight: lighter;
		border: 1px solid lightgrey;
    }
	 #third-body{
		 padding:0 15px 40px;
	 }
}
